:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .number-of-squares {
  }
}
