<div [style.color]="player1.color" [class.selected-palyer]="selectedPlayer.id === player1.id">
  {{player1.name}}: {{score[player1.id]}}
</div>
<div [style.color]="player2.color" [class.selected-palyer]="selectedPlayer.id === player2.id">
  {{player2.name}}: {{score[player2.id]}}
</div>

<div class="" style="margin-top: 60px; margin-bottom: 60px;">
  <div *ngFor="let lines of displayLines; let rowIndex = index; let odd = odd; let even = even"
    class="each-lines-row">
    <div *ngFor="let line of lines; let first = first; let last = last"
      class="each-line"
      [class.vertical-line]="line.vertical"
      [class.horizontal-line]="line.horizontal"
      [style.backgroundColor]="lineStyles[line.order].backgroundColor"
      [style.marginRight]="line.vertical ? '40px' : '0px'"
      [style.marginLeft]="line.horizontal ? '4px' : '0px'"
    >
    <div *ngIf="odd && !last"
      class="square"
      [style.backgroundColor]="squareStyles[line.order - ((rowIndex - 1)/2 * numberOfColumns ) - numberOfColumns + 1]?.backgroundColor">
      <span *ngIf="false">
        {{line.order - ((rowIndex - 1)/2 * numberOfColumns ) - numberOfColumns + 1}}
      </span>
    </div>

    <div *ngIf="even && (!last || numberOfColumns < 4)"
      [style.backgroundColor]="clickedDot1?.order === line.dot1.order || clickedDot2?.order === line.dot1.order ? 'green' : ''"
      class="left-dot"
      (click)="onClickDot(line.dot1)">
    </div>
    <div *ngIf="even && (!first || numberOfColumns < 3)"
      class="right-dot"
      [style.backgroundColor]="clickedDot1?.order === line.dot2.order || clickedDot2?.order === line.dot2.order ? 'green' : ''"
      (click)="onClickDot(line.dot2)">
    </div>
  </div>
  </div>
</div>
